body {
  background-color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  width: 100%;
  margin: auto;
}
p {
  line-height: 1.5em;
  text-align: justify;
}

h1 {
  text-align: center;
  padding: 1em;
  margin: 1em;
}

h2 {
  text-align: center;
  padding: 2em;
  margin: 1em;
}

#id {
  text-align: center;
}

#button_container {
  display: flex;
  justify-content: center;
}

#documentation {
  display: none;
}

button {
  border-radius: 8px;
  transition-duration: 0.4s;
  background-color: lightgray;
  color: black;
  font-size: 20px;
  padding: 16px 30px;
  text-align: center;
  text-decoration: none;
  font-family: Georgia, "Times New Roman", Times, serif;
}

button:hover {
  background-color: white;
  border-color: lightgray;
  color: black;
}

.container {
  margin: auto;
  display: flex; /* For å kunne bruke flexbox */
  align-content: center;
  flex-flow: column wrap;
  justify-content: space-between;
  margin: 0 auto;
  width: 70%;
}

.container > div {
  flex: auto;
}

.eat {
  display: none;
}

canvas {
  height: 90%;
  width: 90%;
}

div {
  padding: 2vw;
  margin: 4vw;
}
