body {
  margin: 0;
  padding: 0;
  font-size: 14pt;
}

body > h2, p {
  font-family: 'Varela Round', sans-serif;
}

body > p, h2 {
  font-family: 'Varela Round', sans-serif;
}

#topbg {
  background-image: url("geometry.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 400px;
  margin: 0;
  padding: 0;
  color: white;
  text-align: center;
}

.heading {
  padding-top: 90px;
  font-family: 'Source Code Pro', monospace;
  text-align: center;
  justify-content: center;
}

.about {
  margin-top: 100px;
  margin-bottom: 100px;
}
.info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px 30px 50px 30px;
}

.text {
  width: 30%;
  margin-left: 50px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.euclid {
  height: 200px;
  width: auto;
}

h1 {
  font-size: 50pt;
  text-align: center;
}

.clickable {
  cursor: pointer;
}


.animation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #0D1A2B;
  padding: 0 90px 50px 90px;
  color: white;
}

.animation > h2 {
  color: white;
}

.animation > div {
  margin-left: 100px;
  margin-right: 100px;
}

.documentation > p, h2 {
  text-align: center;
  margin-top: 100px;
}

.doc-text {
  display: none;
  margin: 100px 300px 100px 300px;
}

ul {
  list-style-type: none;
  text-align: center;
  font-family: 'Varela Round', sans-serif;
}
footer {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0D1A2B;
  color: white;
  font-family: 'Varela Round', sans-serif;
}


.bird-right {
    animation: right 1.5s forwards;
}

@keyframes right {
    from {
        transform: translateX(0px);
    }
    to {
        transform: translateX(400px);
    }
}

.bird-left {
    animation: left 1.5s forwards;
}

@keyframes left {
    from {
        transform: translateX(400px);
    }
    to {
        transform: translateX(0px);
    }
}
